# GitHub > Settings > Developer settings > Personal access tokens
GITHUB_USER=
GITHUB_TOKEN=

# Gitea instance
GITEA_URL=https://gitea.christiantanul.com
GITEA_TOKEN=
GITEA_OWNER=chris

MIRROR_INTERVAL=8h
SYNC_INTERVAL=24h
