MEDIA_SERVER_DATA_DIR=/volume2/media_server

PUID=1028
PGID=100
TZ=Europe/Bucharest

HOSTNAME=synology

PLEX_CLAIM_TOKEN=claim-token-here
PLEX_ADVERTISE_URL=http://192.168.0.x:32400

# For recyclarr
SONARR_BASE_URL=http://synology:8989
SONARR_API_KEY=sonarr-api-key-here

RADARR_BASE_URL=http://synology:7878
RADARR_API_KEY=radarr-api-key-here

# For setup-media-server.sh (qBittorrent)
QBIT_USERNAME=chris
QBIT_PASSWORD=qbit-password-here

# For setup-media-server.sh (FileList.io private tracker)
FILELIST_USERNAME=scriptogre
FILELIST_PASSKEY=filelist-passkey-here
